{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move In by BBL</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="icon" href="{% static 'images/logo-purple.png' %}">
</head>
<body>
    <h1>Welcome to Move In by BBL</h1>
    <p>This is a temporary index page while we complete the website :)</p>


    <script src="{% static 'js/script.js' %}"></script>
    <img src="{% static 'images/logo-white.png' %}" alt="Logo">
</body>
</html>