body {
    background-color: #F7EDE1;
}

.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Styles for room details container */
.room-details {
    background-color: #F7EDE1;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.room-details h2 {
    color: #5C1A1B;
}

.room-details ul {
    list-style-type: disc;
    padding-left: 20px;
}

#payment-button {
    text-align: center;
    margin-left: 30%;
}

.modal{
    color: black;
    font-weight: 300;
}

.modal-body {
    text-align:start;
}

.modal-body-title {
    font-weight: bold;
}

.offcanvas {
    background-color: #4E4187;
    color: white;
}

.offcanvas-title {
    margin-left: 100px;
    font-size: 30px;
}

.text-title {
    font-size: 25px;
    font-weight: bold;
    padding-right: 0;
}

#comment {
    text-align: center;
}

#gif {
    padding: 30px;
}